JWT_SECRET=""
ENCRYPTION_KEY=""
ADMIN_USERNAME=""
ADMIN_PASSWORD=""
ARBOX_WHITELABEL="hypr-training"
ARBOX_BOX_ID="59"
ARBOX_LOCATIONS_BOX_ID="48"
MAX_CLASSES_PER_MONTH="12"
CLOUDFLARE_TUNNEL_TOKEN=""
